@model IEnumerable<FM.lojavirtual.Application.ViewModels.VeiculoViewModel>


@foreach (var item in Model)
{
    <div class="featured__item" style="max-width: calc(66vh - 4em); padding: 1em;">
        <div class="featured__item__pic set-bg">
            <img src="~/imagens/produtos/fiat1.jpg" />
        </div>
        <div class="featured__item__text">
            <div>
                <div class="titulo_produto row" style="margin-bottom: 1em;">
                    <h4 class="font-weight-bold">@item.Nome</h4>
                </div>
                <div class="descricao_produto row" style="margin-bottom: 1em;">
                    <p>@item.Descricao</p>
                </div>
            </div>

            <div class="preco_produto row" style="margin-bottom: .5em;">
                <p class="font-weight-bold">R$ @item.Valor</p>
            </div>
            <div class="modelo_produto row" style="margin-bottom: .5em;">
                <p class="modelo_produto__text">Modelo: @item.Modelo</p>
            </div>
            <div class="km_produto row" style="margin-bottom: .5em;">
                <p class="">@item.Kilometragem km</p>
            </div>
            <div class="btn_produto row" style="margin-bottom: .5em;">
                <a class="btn btn-dark" href="#">Comprar</a>
            </div>
        </div>
    </div>

}

<a class="btn btn-warning"><i class="fa-solid fa-plus"></i> adicionar</a>