@using System.Globalization;
@model IEnumerable<FM.lojavirtual.Application.ViewModels.VeiculoViewModel>
<link href="~/css/veiculos/index.css?cache=@(DateTime.Now.Second)" rel="stylesheet" />

@foreach (var item in Model)
{
    <div class="mix wagonR">
        <div class="featured__item">
            <div class="featured__item__pic set-bg">
                <img src="~/imagens/produtos/@(item.VeiculoImagemViewModel.Nome)" onclick="AdicionarImagem(
                                                                                                            @item.Id,
                                                                                                            @item.VeiculoImagemViewModel.IdVeiculoImagem)" 
                />
            </div>
            <div class="featured__item__text">
                <div>
                    <div class="titulo_produto row">
                        <h4 class="font-weight-bold">@item.Nome</h4>
                    </div>
                    <div class="descricao_produto row">
                        <span>@item.Descricao</span>
                    </div>
                </div>

                <div class="container_dados_produto">
                    <div style="justify-self: start;"> 	&yen; </div>
                    <div class="row_descricao_generico">
                        <i class="fa-solid fa-check"></i>
                        <span class="font-weight-bold">@item.Valor.ToString("N", CultureInfo.CreateSpecificCulture("en-US")) </span>
                    </div>

                    <div style="justify-self: start;"> Modelo </div>
                    <div class="row_descricao_generico">
                        <i class="fa-solid fa-check"></i>
                        <span class="modelo_produto__text">@item.Modelo</span>
                    </div>

                    <div style="justify-self: start;"> KM </div>
                    <div class="km_produto row" style="">
                        <div class="row_descricao_generico">
                            <i class="fa-solid fa-check"></i>
                            <span class="">@item.Kilometragem</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn_produto row" style="">
                <a class="btn btn-dark" href="#">Comprar</a>
            </div>
        </div>
    </div>
}

<script>

    function AdicionarGet() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("AdicionarGet", "Veiculo")',
            data: {},
            success: function (recData) {

                $('#ModalFMContent').html(recData);
                SetTitleModal('Novo Veículo');

                $('#ModalFM').modal('show');

                GetDropDownListTiposVeiculo();
            },
            error: function (recData) {
                console.log(recData);
            },
            complete: function () {

            }
        });
    }

    function GetDropDownListTiposVeiculo() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Coco", "TiposVeiculoWeb")',
            data: {},
            success: function (data) {
                $("#testeMasa").html(data);
            }
        });
    }

    var VeiculoViewModel = {
        'Nome': '',
        'AnoFabricacao': 2024,
        'Modelo': '',
        'Kilometragem': 0,
        'Descricao': '',
        'Valor': 0,
        'TiposVeiculoViewModel.Id': 0
        }

    function AdicionarVeiculoPost() {
        VeiculoViewModel = {
            'Nome': $('#Nome').val(),
            'AnoFabricacao': $('#AnoFabricacao').val(),
            'Modelo': $('#Modelo').val(),
            'Kilometragem': $('#Kilometragem').val(),
            'Descricao': $('#Descricao').val(),
            'Valor': $('#Valor').val(),
            'TiposVeiculoViewModel.Id': $('#TiposVeiculo').val()
        };

        $.post("@Url.Action("AdicionarPost", "Veiculo")", {
            VeiculoViewModel

        }, function (result) {            
            ListarVeiculos();
            $('#ModalFM').modal('hide');
        })
    }

    function ListarVeiculos() { 
        $.ajax({
            type: "GET",
            url: '@Url.Action("ListarVeiculos", "Veiculo")',
            data: {},
            success: function (recData) {
                $('.container-produtos').html(recData);
            },
            error: function (recData) {
                console.log(recData)
            },
            complete: function () {

            }
        });
    }

    function AdicionarImagem(idVeiculo, idVeiculoImagem) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("AdicionarImagemVeiculo", "Veiculo")',
            data: {},
            success: function (recData) {

                $('#ModalFMContent').html(recData);

                $('#ModalFM').modal('show');

            },
            error: function (recData) {
                console.log(recData);
            },
            complete: function () {

            }
        });
    }
</script>